<div class=centerl>
<h1><%= @actor.name %></h1>
<h2><%= @actor.character %></h2>

<%= image_tag(@actor.img_url) %>
</div>


<div class=centerr>
  <% if @actor.actorepisodes.any?  %>
  <% @actor.actorepisodes.each do |actorepisode|  %>
    <p><%= link_to actorepisode.episode.title, episode_path(actorepisode.episode) %> </p>
  <%end%>
<%end%>

</div>
