<h1>Episodes#episodes</h1>
<p>Find me in app/views/episodes/episodes.html.erb</p>
<% @episodes.each do |episode| %>
  <div class="episode">
    <p><%= episode.title    episode.air_date %></h2>
  </div>
<% end %>
